[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
ablog = "*"
pydata-sphinx-theme = "*"
sphinx-design = "*"
sphinx-copybutton = "*"
sphinxext-opengraph = "*"
myst-parser = "*"

[dev-packages]

[requires]
python_version = "3.9"
